body{
    background-image: linear-gradient(to right, rgb(108, 197, 116) , rgb(82, 187, 182));
}
#header-nav {
    background-color:rgb(108, 197, 116);
    margin-bottom: 3%;
}
.navbar-brand{
    padding-top: 25px;
}
.navbar-brand h1{
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px green;
}
.navbar-brand p {
    font-size: 1em;
    margin-top: 15px;
    font-weight: bold;
}
.sketch{
    box-shadow: 0 0 50px rgb(108, 197, 116);
    border: 2px solid green;
    margin-bottom: 3%;
    
}
img{
    width: 100%;
    height: auto;
}
#pwr-ranger{
    box-shadow: 0 0 50px rgb(108, 197, 116);
    border: 2px solid green;
    margin-bottom: 3%;
}
#quote{
    font-weight: bold;
    font-size: 2em;
}